{% extends "base.html" %}

{% block title %}Post Ride{% endblock title %}

{% block body %}
<div class="container">
    <h1 class="text-center">Post a Ride</h1>
    <form method="post" action="/post_ride">
        {% csrf_token %}
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="departure">Departure Location</label>
            {% comment %} <input type="text" class="form-control" id="departure" name="departure" placeholder="Enter departure location"> {% endcomment %}
            <select class="form-control" id="departure" name="departure">
                <option>Bhopal Junction</option>
                <option>Rani Kamlapati</option>
                <option>Sehore</option>
                <option>Sant Hirdaram Nagar</option>
                <option>Indore Junction</option>
                <option>Bhopal Airport</option>
                <option>Indore Airport</option>
                <option>VIT Bhopal</option>
            </select>
        </div>
        <div class="form-group">
            <label for="destination">Destination Location</label>
            {% comment %} <input type="text" class="form-control" id="destination" name="destination" placeholder="Enter destination location"> {% endcomment %}
            <select class="form-control" id="destination" name="destination">
                <option>Bhopal Junction</option>
                <option>Rani Kamlapati</option>
                <option>Sehore</option>
                <option>Sant Hirdaram Nagar</option>
                <option>Indore Junction</option>
                <option>Bhopal Airport</option>
                <option>Indore Airport</option>
                <option>VIT Bhopal</option>
            </select>
        </div>
        <div class="form-group">
            <label for="date">Date of Ride</label>
            <input type="date" class="form-control" id="date" name="date">
        </div>
        <div class="form-group">
            <label for="time">Time of Departure</label>
            <input type="time" class="form-control" id="time" name="time">
        </div>
        <div class="form-group">
            <label for="seats">Available Seats</label>
            <input type="number" class="form-control" id="seats" name="seats" placeholder="Enter available seats">
        </div>
        <div class="form-group">
            <label for="price">Price per Seat</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Enter price per seat">
        </div>
        <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Enter your mobile number">
        </div>
        <div class="form-group">
            <label for="description">Additional Information</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Post Ride</button>
    </form>
</div>
{% endblock body %}