{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container my-4 mb-4">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://png.pngtree.com/background/20210710/original/pngtree-travel-exhibition-board-background-poster-material-picture-image_1054611.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h3><font color="black">Welcome to VTravelBuddy!</font></h3>
                <p><font color="black">Simplify your travel plans and find your<br> partner for your journey, hassle-free! </font><a></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock body %}
